<%= stylesheet_link_tag 'listas.css' %>

<div class="container-data" id="<%= dom_id paciente %>">
  <p>
    <strong>NOME:</strong>
    <%= paciente.nome %>
  </p>

  <p>
    <strong>E-MAIL:</strong>
    <%= paciente.email %>
  </p>

  <p>
    <strong>DATA DE NASCIMENTO:</strong>
    <%= paciente.data_nascimento %>
  </p>
  <h3>DADOS DE ENDEREÇO </h3>
  <p>
    <strong>CEP</strong>
    <%= paciente.endereco.cep %>
    
    <strong>CIDADE:</strong>
    <%= paciente.endereco.cidade %>

    <strong>BAIRRO:</strong>
    <%= paciente.endereco.bairro %>
  </p>
  <p>
    <strong>LOGRADOURO:</strong>
    <%= paciente.endereco.logradouro %>

    <strong>COMPLEMENTO:</strong>
    <%= paciente.endereco.complemento %>
  </p>
</div>
