<%= stylesheet_link_tag 'form_generico.css' %>

<%= form_with(model: consultum) do |form| %>
  <% if consultum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(consultum.errors.count, "error") %> prohibited this consultum from being saved:</h2>

      <ul>
        <% consultum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container_form">
    <div>
      <%= form.label :data, style: "display: block" %>
      <%= form.date_field :data, class: "input" %>
    </div>

    <div>
      <%= form.label :hora, style: "display: block" %>
      <%= form.time_field :hora, class: "input" %>
    </div>

    <div>
      <%= form.label :paciente_id, style: "display: block" %>
      <%= form.collection_select(:paciente_id, @paciente, :id, :nome, prompt: "Selecione um paciente",) %>
    </div>

    <div>
      <%= form.label :medico_id, style: "display: block" %>
      <%= form.collection_select(:medico_id, @medico, :id, :nome, prompt: "Selecione o medico",) %>
    </div>

    <div class="container_button">
      <%= form.submit "Enviar", class: "button" %>
    </div>
  </div>
<% end %>
