<%= stylesheet_link_tag 'form_generico.css' %>

<%= form_with(model: medico) do |form| %>
  <% if medico.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(medico.errors.count, "error") %> prohibited this medico from being saved:</h2>

      <ul>
        <% medico.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container_form">
    <div>
      <%= form.label :nome, style: "display: block" %>
      <%= form.text_area :nome, class: "input" %>
    </div>

    <div>
      <%= form.label :cpf, style: "display: block" %>
      <%= form.text_field :cpf, class: "input" %>
    </div>

    <div>
      <%= form.label :email, style: "display: block" %>
      <%= form.text_area :email, class: "input" %>
    </div>

    <div>
      <%= form.label :especialidade, style: "display: block" %>
      <%= form.text_area :especialidade, class: "input" %>
    </div>

    <div>
      <%= form.label :crm, style: "display: block" %>
      <%= form.text_field :crm, class: "input" %>
    </div>

    <div class="container_button">
      <%= form.submit "Enviar", class: "button" %>
    </div>
  </div>
<% end %>
